:root {
  --text-color: #212121;
  --accent-color: #2196F3;
  --accent-color-hover: #188CE8;
  --text-contacts-color: #757575;
  --main-background-color: #FFFFFF;
  --frame-background-color: #F5F4FA;
  --footer-background-color: #2F303A;
  --text-contacts-color-footer: rgba(255, 255, 255, 0.6);
  --border-color: #ECECEC;
  --border-clients-color: #AFB1B8;
  --input-coor:rgba(33, 33, 33, 0.2);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--main-background-color);
  color: var(--text-color);
}

header {
  border-bottom: 1px solid var(--border-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  display: inline-block;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo__dark {
  color: var(--text-color);
}
.logo__white {
  color: var(--main-background-color);
}

.footer-address__logo {
  margin-bottom: 20px;
}

.nav {
  display: none;
}

.contacts-nav {
  display: none;
}

.main-section {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--footer-background-color);
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(1, 12, 129, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bg-image.jpg");
  background-image: linear-gradient(to right, rgba(1, 12, 129, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .main-section {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
}
.main-section__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-background-color);
}
@media screen and (min-width: 1200px) {
  .main-section__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  font-family: inherit;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-background-color);
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: var(--accent-color-hover);
}
.button--hero {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .advantage__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__item:not(:last-child) {
    margin-right: 30px;
  }
}

.advantage__icon-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  width: 450px;
  height: 120px;
  background-color: var(--frame-background-color);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .advantage__icon-bg {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__icon-bg {
    width: 270px;
    height: 120px;
  }
}

.advantage__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color);
}

.advantage__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-contacts-color);
}

.advantage .advantage__item:not(:last-child) {
  margin-bottom: 30px;
}

.section--no-padding-top {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section--no-padding-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);
  background: rgba(47, 48, 58, 0.8);
}
.works__text--position-dekstop {
  position: absolute;
  left: 0;
  bottom: 0;
}
.works__text--position-mobile {
  position: absolute;
  left: 0;
  bottom: 0;
}
.works__text--position-design {
  position: absolute;
  left: 0;
  bottom: 0;
}

.works__item {
  position: relative;
}
.works .works__item:not(:last-child) {
  margin-right: 30px;
}

.our-works {
  padding-top: 0;
}
.our-works__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.team__item {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 450px;
  background-color: var(--main-background-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: 354px;
    width: 50%;
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}
@media screen and (min-width: 480px) {
  .team .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team__position {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__position {
    padding-bottom: 30px;
  }
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
  }
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-contacts-color);
}

.section--other-background {
  background-color: var(--frame-background-color);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social .social__item:not(:last-child) {
  margin-left: 10px;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--border-clients-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  color: var(--main-background-color);
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .clients {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .clients__item {
    width: 50%;
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  border: 1px solid var(--border-clients-color);
  border-radius: 4px;
  color: var(--border-clients-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

@media screen and (min-width: 768px) {
  .footer__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.address__contacts--footer {
  color: var(--text-contacts-color-footer);
  font-style: normal;
}

.address {
  display: inline-block;
}

.address__item {
  margin-bottom: 9px;
}

.address__link {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-background-color);
  text-decoration: none;
  text-align: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__email {
  margin-bottom: 8px;
}

.address__phone {
  margin-bottom: 60px;
}

.address__contacts {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-contacts-color-footer);
  text-decoration: none;
  list-style: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__contacts:hover, .address__contacts:focus {
  color: var(--accent-color);
}

.cta-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.cta-social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-style: normal;
  color: var(--main-background-color);
}

.cta-social__list .cta-social__item:not(:last-child) {
  margin-right: 10px;
}

.cta-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--main-background-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cta-social__link:hover, .cta-social__link:focus {
  background-color: var(--accent-color);
}

.cta-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

@media screen and (min-width: 480px) {
  .footer-form {
    margin-top: 60px;
    text-align: center;
  }
}
.footer-form__input {
  padding: 15px 16px;
  margin-bottom: 20px;
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--main-background-color);
  background-color: var(--footer-background-color);
}
.footer-form__label {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);
}

.button--subscribe {
  padding: 10px 10px 10px 29px;
}

.button__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--main-background-color);
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}/*# sourceMappingURL=main.css.map */