.footer-form{
    @media screen and (max-width:1199px){
     text-align: center; 
     margin-top: 60px;
    }
 
    @media screen and (min-width:1200px){
    display: flex;
    flex-direction: column;
    margin-left: auto;
    }

    &__cta{
    @media screen and (min-width:1200px){
    display: flex;
    align-items: center;
    justify-content: center;
    }
    }

    &__input{
    display: block;
    padding: 15px 16px;

    @media screen and (max-width:1199px){
    margin:0 auto 20px auto;
    width: 100%;
    max-width: 450px;
    }
  
    @media screen and (min-width:1200px){
    margin-right: 12px;
    width: 358px;
    }
    
    max-width: 450px;
    height: 50px;
 
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--main-background-color);
    background-color: var(--footer-background-color);
    }

    &__label{
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--main-background-color);
    }
}
.button--subscribe{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px 10px 10px 29px;
   margin: 0 auto;
}
.button__icon{
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill:var(--main-background-color);
}
